body {
    background-image: url(../images/space_bg_new.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 651px;
    height: 391px;
    margin-bottom: 50px;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 36px;
}

main p {
    color: white;
    text-align: center;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-button, .return-button {
    padding: 20px 40px;
    background: linear-gradient(180deg, #ffcc00 0%, #ffe47a 52%, #ffd842 100%);
    border-radius: 10px;
    border: 1px solid rgb(255, 248, 107);
    box-shadow: 0 2px 53px -21px #000000;
    transition: all 0.2s ease;
    font-family: poppins-semibold, poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #7a6d38;
    cursor: pointer;
    margin: 0 20px;
}

.download-button:hover, .return-button:hover {
    background: linear-gradient(180deg, #ffdf5f 0%, #ffe98f 52%, #ffe378 100%);
}

@media (max-width: 500px) {
    .logo {
        width: 90%;
        height: auto;
    }

    header h1, main p {
        font-size: 20px;
    }

    .download-button, .return-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}
