<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	  <appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
		  <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	  </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log/kavalok.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/kavalok.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>
    <root>
        <level value="WARN" />
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.kavalok">
        <level value="WARN" />
    </logger>
</configuration>